In [1]:
#Collective 자료형 - 문자열, 리스트, 튜플, 셋, 딕셔너리
#리스트 - [], list()
lis_x = [1, 3, 'test', [2,5]]
# 인덱스 확인할 때 사용하는 방법 - []
print(lis_x[2])
print(lis_x[0])

test
1

In [4]:
print(lis_x[3][0])

2

In [5]:
#리스트 - 문자열 더하듯 더할 수 있다. 
lis_y = ['x', 3.5]
lis_z = lis_x+lis_y
print(lis_z)
#* 반복도 가능하다.
#print(lis_x*3)

str1 = "I am "
str2 = "a teacher"
print(str1+str2)

lis_a = [0,2,4]
print(lis_a*2)

[1, 3, 'test', [2, 5], 'x', 3.5]
I am a teacher
[0, 2, 4, 0, 2, 4]

In [7]:
%whos
del lis_a

Variable   Type    Data/Info
----------------------------
lis_a      list    n=3
lis_x      list    n=4
lis_y      list    n=2
lis_z      list    n=6
str1       str     I am
str2       str     a teacher

In [9]:
del lis_z[3]
print(lis_z)

[1, 3, 'test', 'x', 3.5]

In [10]:
lis_z[2]=10
print(lis_z)
#mutable

[1, 3, 10, 'x', 3.5]

In [13]:
print(id(lis_z))
lis_z[0]=-4
print(id(lis_z))
print(lis_z)

1571266072840
1571266072840
[-4, 3, 10, 'x', 3.5]

In [14]:
print(id(lis_z))

1571266072840

In [15]:
# 테크닉
*a, = 1,2,3,
print(a)

[1, 2, 3]

In [ ]:
# 리스트 - 변경가능함.
print(a)
a[2]=10

In [ ]:
print(id(a))
a.append(4)
print(a)
#id값은 변하지 않지만 a값은 변한다.
print(id(a))

In [19]:
# 튜플 - 괄호로 표시 
b= (2,3,"test", 12+4.3)
print(b)
print(type(b))
print(type(a))
for bc in b:
    print(bc)

(2, 3, 'test', 16.3)
<class 'tuple'>
<class 'list'>
2
3
test
16.3

In [23]:
#튜플 - 바꿀 수 없고 재정의해야 한다.
#b[0]=0
#del b[3] #에러난다! 
b= (2,3,"test", 12+4.3)

In [24]:
b= b[0:3]
print(b)

(2, 3, 'test')

In [25]:
b=(0,)+b[1:]
print(b)
#immutable`

(0, 3, 'test')

In [27]:
%whos

Variable   Type     Data/Info
-----------------------------
a          list     n=3
b          tuple    n=3
bc         float    16.3
lis_x      list     n=4
lis_y      list     n=2
lis_z      list     n=5
str1       str      I have a dream
str2       str      a teacher

In [26]:
# 문자열 - del 못 쓴다. 대신 splice 사용해야 한다.
str1 = 'I have a dream'
#a를 지우고 싶으면 del 못 사용
del str1[7]

TypeError: 'str' object doesn't support item deletion

In [28]:
str1=str1[0:7]+str1[9:]
print(str1)
#문자열도 immutable

I have dream

In [ ]:
# set(집합) -> {} 사용. 단 공집합은 set() 사용 필수
set1 = {2,5, "tx"}
set2 = {3, 4, {5,6,7}}

In [ ]:
# set - 리스트를 원소로 삼지 못한다. 
# set 순서를 신경 안 쓴다. 
list1 = ['a', 'b']
list2 = ['b', 'a']
print(list1 == list2)
set1 = {'a', 'b'}
set2 = {'b', 'a'}
print(set1 == set2)

In [ ]:
set1[0]

In [ ]:
set1[0:1]

In [ ]:
print(list(set1))
'b'>'a'

In [ ]:
set3 = {2,3,4,6,7}
print(list(set3))

In [ ]:
# 딕셔너리 {x:x,y:y}
dict1 = {'이재웅':'데이터 크롤링', '안상선':'팀 프로젝트', '오은택':'AWS', '이진범':'장고', '박종섭':'딥러닝' }
dict2 = {1:'골키퍼', 2:'수비수', 3:'미드필더', 4:'공격수', 'coach':['감독', '수석코치', '트레이너']}

In [ ]:
#값 읽기 - 간단하게 [] 사용
print(dict1['이재웅'])

In [ ]:
dict_sum = dict1 + dict2

In [ ]:
dict2.pop('coach')

In [ ]:
dict2 += {5:'감독'}

In [ ]:
dict2[5]='감독'

In [ ]:
#딕셔너리 합치기 -update 함수
dict3= dict2.update(dict1)

In [ ]:
dict2

In [ ]:
#바꾸지 않고 딕셔너리 합치기
dict3 = dict(dict2, **dict1)
print(dict2)
print(dict3)

In [ ]:
#마찬가지로 리스트/튜플 합칠 때에도 사용가능
tup1 = (1,3,5)
tup2 = (2,5,7)
tup3 = (*tup1, *tup2,)